* {
    margin: 0;
    padding: 0;
    font-family: Varela Round, sans-serif;
}

.topBar {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#simonOliver {
    font-size: 20pt;
    color: white;
    font-weight: 200;
    font-family: Viga, sans-serif;
    margin-left: 170px;
    margin-top: 10px;
}


.connectStuff {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-right:50px;
}

#connectArrow {
    width: 50px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.decorbox1 {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 42%, rgba(25, 25, 112, 1) 82%);
    position: relative;
    z-index: 1;
}


#stars1{
    background-image: url(./images/starsback.png);
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

.cols {
    display: flex;
    margin: 0 40px;
    justify-content: center;
}

#greeting {
    font-size: 38pt;
    text-align: center;
    color: white;
    font-family: Bungee, sans-serif;
}

#meSimon {
    font-size: 50pt;
    color: white;
    margin-top: 20px;
}

#simonPic {
    width: 150px;
    padding-top: 0px;
    margin-top: -50px;

}

.medbox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.listy {
    display: inline-block;
    font-size: 26pt;
    color: rgb(165, 209, 25);
    gap: 20px;
    text-align: center;

    li {
        margin: 10px 0px;
    }
}

.col2 {
    display: flex;

    text-align: center;
    align-items: center;
}

.lilbox1 {
    margin: 0px;
    padding: 30px;
}

.spacesky{
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 42%, rgba(25, 25, 112, 1) 82%);
}

.skyBox {
    height: 600px;
    display: flex;
    justify-content: center;
    background: rgb(25, 25, 112);
    background: linear-gradient(180deg, rgba(25, 25, 112, 1) 22%, rgba(0, 212, 255, 1) 74%);
}

.mySkills {
    background-color: rgba(0, 212, 255, 1);
    text-align: center;
    font-family: Rubik Scribble, serif;
    font-size: 60pt;
    font-weight: 900;
}

.cloudBox {
    height: 600px;
    background-color: rgb(0, 212, 255);
    display: flex;
    justify-content: center;

    img {
        width: 650px;
        height: 470px;
    }
}

.leftCloudBox {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

#leftCloud {
    position: relative;
    bottom: 50px;
    left: 30px;
}

#leftCloudList {
    position: absolute;
    top: 180px;
    left: 180px;
    font-size: 30pt;
    gap: 25px;
}

#rightCloud{
    position: relative;
    left: 10px;
    bottom: 20px;
}

.rightCloudBox {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

#rightCloudList {
    position: absolute;
    top: 210px;
    left:180px;
    font-size: 30pt;
    gap: 25px;
}

.projectsBox{
    background-color: rgba(0, 212, 255, 1);
    display: flex;
    justify-content: center;
}

#plane1{
    width: 1200px;
}

.project1box{
    display: flex;
    background-color: rgba(0, 212, 255, 1);
    align-items: center;
}

.placeholderbox{
width: 800px;
height: 500px;
border-radius: 3%;
margin: 50px;
background-color: aliceblue;
}

#project1text{
    font-size: 40pt;
    margin: 0 30px;
}

.grass{
    background-image: url(./images/soil.png);
    height: 400px;
}

.rocks{
    background-image: url(./images/rocks.png);
    height: 1000px;
    align-items: center;
}

.aboutme{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
#photosimon{
    width: 200px;
}

/* 
UTILITY CLASSES */

.links{
    color: white;
}
.textbox{
    margin: 20px;
    padding: 20px;
    background-color: black;
}